.body {
  scroll-behavior: smooth;
}
.rps-choice {
  background-color: black;
}
/* dino */
.dino {
  position: relative;
  background-image: url(../images/dino-back.png);
  background-size: contain;
  background-position: bottom;
}
.dino-output {
  padding-bottom: 140px;
}
.dino-char-img {
  width: 50px;
  height: 50px;
}
.dino-char {
  display: block;
  position: absolute;
  z-index: 2;
  transform: translateY(-85px);
  left: 50px;
}
.dino-cactus {
  display: flex;
  align-items: flex-end;
  position: absolute;
  z-index: 1;
  top: 160px;
  right: 0
}
.dino-cactus-img {
  height: 30px;
}
.dino-retry {
  transform: translate(-50%, -50%);
  position: absolute;
  left: 50%;
  top: 50%;
  display: none;
}
.dino-retry > img {
  width: 20px;
}
/* team */
.team-list{
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  scrollbar-width: none;
  gap: 10px;
  width: 300px;
  
}
.team-item{
  display: block;
  flex: 0 0 auto;
  width: 300px;
}
.team-item:last-child{
  padding-right: 20px;
}
.team-inf{
  width: 300px;
}
/* modal */
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}
.modal{
  position: absolute;
  background-color: white;
  transform: translate(-50%, -50%);
  left: 1000px;
  top: 400px;
  /* width: 576px;
  height: 316px; */
  padding: 46px 92px 47px 92px;
}
.sec-modal{
  padding: 83px 137px 138px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0000002d;
  z-index: 100;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn{
  position: absolute;
  right: 30px;
  top: 30px;
}
.modal-img1{
  position: absolute;
}
.modal-text{
  width: 392px;

}