:root {
  --blck-clr: #000000;
  --inpt-bcgc: #d7d7d7;
  --game-win: #039900;
  --wht-clr: #ffffff;
  --game-over: #990000;
  --input-txt: #7e7e7e;
  --ftbll-bcgc: #5ABB58;
}



/*  */


.



/*  */


.



/*  */


.



/*  */


.



/*  */


.